
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using northxproductions.Models
@model NxVideoProjectsListModel

<br />

<div class="my-video-page-container">
    <div class="my-video-table-data-col1">
        Projects
    </div>
        @foreach (NxVideoProjectModel project in Model.Projects)
            {
            <span class="videoProjectName">
                @project.ProjectName
            </span>
        }
            @foreach (NxVideoProjectModel project in Model.Projects)
            {
    <div class="inlineBlock">
        @foreach (NxVideoProjectModel project in Model.Projects)
        {
            <table class="noDisp" id="@project.ProjectName.Replace(" ", String.Empty)">
                @foreach (NxVideo video in project.Project)
                {
                    <tr>
                        <td>
                            <div class="videoTableVideoNames">
                                <div onclick="videoClick(this)" class="my-video-table-videoname" id="@video.Embed">
                                    @video.Name
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <div id="vid-popup-div" class="my-vid-popup-div inlineBlock">
        <a class="my-vid-popup-x" onclick="closePopup()">x</a>
        <iframe id="vid-popup-iframe" class="my-vid-popup-iframe"
                width="640" height="360"
                src=""
                frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>

<script>
    document.getElementById('vid-popup-div').style.visibility = 'hidden';

    // Show the table for the Parachute project
    this.elSelectedProjectTable = document.getElementById("Parachute");
    elSelectedProjectTable.removeAttribute("class");

    var videoProjectNames = document.getElementsByClassName("videoProjectName");
    for (var i = 0; i < videoProjectNames.length; i++) {
        videoProjectNames[i].addEventListener("click", functionDelegate(selectProject));
    }

    function videoClick(obj) {
        var s = obj.id;
        document.getElementById('vid-popup-iframe').src = s;
        document.getElementById('vid-popup-div').style.visibility = 'visible';
    }

    function closePopup() {
        document.getElementById('vid-popup-iframe').src = "";
        document.getElementById('vid-popup-div').style.visibility = 'hidden';
    }

    function selectProject(event) {
        // Summary: Hide previously selected project video names and show currently selected project video names.
        var elementId = event.target.innerText.split(" ").join("");
        if (elementId === this.elSelectedProjectTable.id) {
            return;
        }

        this.elSelectedProjectTable.setAttribute("class", "noDisp");
        this.elSelectedProjectTable = document.getElementById(elementId);
        this.elSelectedProjectTable.removeAttribute("class");
    }

    var _this = this;
    function functionDelegate(delegate) {
        // Summary: Return a function that will call the delegate with the correct context.
        // delegate: function to call when event is triggered.
        return function (event) {
            delegate.call(_this, event);
        }
    }
</script>
