.vs/config/applicationhost.config
*.cache
northxproductions/bin/northxproductions.dll
northxproductions/bin/northxproductions.pdb
northxproductions/obj/Debug/northxproductions.dll
northxproductions/obj/Debug/northxproductions.pdb
.vs/northxproductions/v14/.suo
*.FileListAbsolute.txt
*.csproj.user
TODO.txt