@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
Email - <a id="emailLink" href="http://mail.google.com/mail/?view=cm&fs=1&to=northx.prod@gmail.com" target="_blank">northx.prod@gmail.com</a>
<br />
<br />
Joe Micholic - (715) 573 - 5025
<br />
Jack Micholic - (715) 581 - 5025
<br />
<br />
<div class="center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdKYIqY0wysEZ6vo82PuF2zNjjwUF8wqeqvhsLomhjmXFkD7g/viewform?embedded=true" width="760" height="2300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>