@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <br />
    <br />
    <div>Joe Micholic ()</div>
    <div>Jack Micholic ()</div>
    <div>Mike "Poop Head" Thompson</div>
</address>

<address>
    <div>northx.prod@gmail.com</div><br />
    
</address>