@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<br />
<br />
Email - <a href="http://mail.google.com/mail/?view=cm&fs=1&to=northx.prod@gmail.com" target="_blank">northx.prod@gmail.com</a>
<br />
<br />
Joe Micholic - (715) 573 - 5025
<br />
Jack Micholic - (715) 581 - 5025