@{
    ViewBag.Title = "Home Page";
}
@using northxproductions.Models;
@model NxVideo


<table align="center">

    <tr>
        <td>
            <video width="100%" muted autoplay controls>
                <source src="~/Content/Videos/northxHomepage0218.mp4" />
            </video>
        </td>
        @*
    <td class="my-video-container">
        <iframe width="640" height="360"
                src="https://www.youtube.com/embed/lFdNUbgQpok"
                frameborder="0"
                allowfullscreen></iframe>
    </td>*@
        @*<td>
            @using (Html.BeginForm("GetPrev", "Home"))
            {
                <input type="hidden" name="Id" value="@Model.Id" />
                <input class="scrollArrowHome" id="prev" type="image" src="~/Content/Images/ArrowLeft.png" width="30" height="30"/>
            }
        </td>
        <td class="my-video-container">
            <iframe width="640" height="360"
                    src="@Model.Embed"
                    frameborder="0"
                    allowfullscreen></iframe>
        </td>
        <td>
            @using (Html.BeginForm("GetNext", "Home"))
            {
                <input type="hidden" name="Id" value="@Model.Id" />
                <input class="scrollArrowHome" id="next" type="image" src="~/Content/Images/ArrowRight.png" width="30" height="30"/>
            }
        </td>*@
    </tr>
</table>

<script>
    var video = document.getElementsByTagName('video')[0];
    video.volume = 0.5;
</script>