
@{
    ViewBag.Title = "News Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div id="newsFeedTitle">
        <h2>News Feed</h2>
    </div>
</div>

<script>
    var mainDiv = document.getElementById('main');
    var script = document.createElement('script');
    script.src = "https://api.instagram.com/v1/users/5639840073/media/recent?access_token=5639840073.4918e72.80bb2fd96e2b46c1b215eb86c4deba2c&callback=parseInstagram";
    mainDiv.appendChild(script);

    function parseInstagram(response) {
        // Summary: Callback for returned instagram data for us to parse through.
        // response: Object
        //  See https://www.instagram.com/developer/endpoints/users/ GET /users/user-id/media/recent
        //  for more information on the structure of the response.

        var mainDiv = document.getElementById('main');

        var postHeight, postWidth, pictureHeight, pictureWidth;
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            pictureHeight = 325;
            pictureWidth = 244;
        }
        else {
            pictureHeight = 400;
            pictureWidth = 300;
        }

        var frame, frameContainer, container, captionContainer, instagramCaption;
        response.data.forEach(function (instagramMedia) {
            // Create container for whole post
            container = this.initializeElement("div",
                {
                    "class": "instagramPost",
                }
            );
            mainDiv.appendChild(container);

            // Create container for post picture
            frameContainer = this.initializeElement("div",
                {
                    "class": "frameContainer",
                }
            );
            container.appendChild(frameContainer);

            // Handle post image
            frame = this.initializeElement("iframe",
                {
                    src: instagramMedia.link + "embed",
                    width: "300",
                    height: pictureHeight.toString(),
                    width: pictureWidth.toString(),
                    frameborder: "0",
                    "class": "instagramFrame",
                    scrolling: "no"
                }
            );
            frameContainer.appendChild(frame);

            // Handle post caption
            captionContainer = this.initializeElement("div",
                {
                    "class": "captionContainer",
                }
            );
            container.appendChild(captionContainer);

            instagramCaption = this.initializeElement("div",
                {
                    "class": "instagramCaption"
                }
            );
            instagramCaption.innerText = instagramMedia.caption.text;
            captionContainer.appendChild(instagramCaption);

        }, this);
    }

    function initializeElement(elementTag, attributes) {
        // elementTag: String, type of element to create
        // attributes: Object, object with attribute name and value pairs to initialize the element with

        var element = document.createElement(elementTag);

        for (var attribute in attributes)
        {
            element.setAttribute(attribute.toString(), attributes[attribute]);
        }

        return element;
    }
</script>