
@{
    ViewBag.Title = "News Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="newsFeedTitle">
        <h2>News Feed</h2>
    </div>
    <script type="text/javascript" src="http://northxproductions.tumblr.com/js"></script>
</div>