@*Partial View that contains links to Northx social media with logos*@

<div class="socialMediaPartial">
    <div class="socialMediaIcon">
        <a href="https://www.facebook.com/northxproductions/" target="_blank">
            <img src="~/Content/Images/SocialMediaIcons/facebookIcon.png" alt="Facebook"/>
        </a>
    </div>
    <div class="socialMediaIcon">
        <a href="https://twitter.com/NORTHx_" target="_blank">
            <img src="~/Content/Images/SocialMediaIcons/twitterIcon.png" alt="Twitter" />
        </a>
    </div>
    <div class="socialMediaIcon">
        <a href="https://www.youtube.com/channel/UCYIDzVDq37pkTk6PT-yM39g" target="_blank">
            <img src="~/Content/Images/SocialMediaIcons/youtubeIcon.png" alt="Youtube" />
        </a>
    </div>
    <div class="socialMediaIcon">
        <a href="" target="_blank">
            <img src="~/Content/Images/SocialMediaIcons/instagramIcon.png" alt="Instagram" />
        </a>
    </div>
    <div class="socialMediaIcon">
        <a href="https://northxproductions.tumblr.com/" target="_blank">
            <img src="~/Content/Images/SocialMediaIcons/tumblrIcon.png" alt="Tumblr" />
        </a>
    </div>
</div>