body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
}

.background-image {
    position: fixed;
    opacity: 0.1;
    width: 100%;
    z-index: -1;
    padding-top: 197px;
    text-align: center;
}

.content {
    padding: 0 225px;
}

.body-content {
    padding-top: 185px;
}

/* Nav bar for website */
.my-nav-bar {
    border-bottom: solid;
    border-color: azure;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 200px;
    z-index: 1;
}

/* Table to hold nav bar items */
.my-nav-bar-table {
    padding-top: 15px;
    margin-top: 0px;
    width: 50%;
    margin: 0 auto;
}

/* Nav bar title */
.my-nav-bar-item-large {
    text-align: center;
    padding-left: 17%;
}

/* Nav bar links */
.my-nav-bar-item-small {
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    text-wrap: none;
}

/* Table containing video player */
.my-video-player-table {
    margin: 0 auto;
}

/* Video player homepage */
.my-video-container {
    margin: 50px;
    padding: 50px 20px;
}

.my-iframe-container {

}

.my-video-page-container {
    width: 50%;
    margin-right: auto;
    margin-left: 20%;
    font-size: medium;
    height: 400px;
}

.my-video-table {
    padding: 20px;
}

.my-video-table-data-col1 {
    padding-top: 15px;
    width: 250px;
}

.my-video-table-videoname {
    padding-left: 20px;
}
.my-video-table-videoname:hover {
    padding-left: 20px;
    background-color: azure;
    cursor: pointer;
}

.my-vid-popup-div {
    height: 400px;
    width: 700px;
    background: azure;
    position: absolute;
    margin-left: 20px;
}

.my-vid-popup-iframe {
    position: absolute;
    padding-top: 30px;
    padding-left: 10px;
}

.my-vid-popup-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.my-vid-popup-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.my-vid-popup-x {
    padding-left: 10px;
    cursor: pointer;
}

.my-vid-popup-x:hover {
    padding-left: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center {
    text-align: center;
}

img.center {
    margin: 0 auto;
    display: block;
}

/* NEWS FEED STYLING */

#newsFeedTitle {
    position: relative;
    left: 196px;
    padding-top: 10px;
}

.instagramPost {
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.captionContainer {
    display: inline-block;
    padding: 10px 50px;
    width: 600px;
    vertical-align: top;
    font-size: 18pt;
    background-color: rgb(240,190,122);
    border-radius: 200px;
    position: relative;
    top: 80px;
    left: 20px;
}

.frameContainer {
    display: inline-block;
}

.instagramFrame {
    display: inline-block;
}