body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
}

/* Nav bar for website */
.titleBar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row;
}

#mobileBurger {
    margin-top: 10px;
    margin-left: 10px;
}

#title {
    font-size: 28pt;
    width: 100%;
}

#navBarLogo {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid white;
}

/* Nav bar links */
.my-nav-bar-item-small {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid white;
    height: 50px;
}

.my-nav-bar-item-small:hover {
    cursor: pointer;
    background-color: lightblue;
}

.my-nav-bar-item-small > a {
    text-decoration: none;
}

#desktopMenu {
    display: flex;
    flex-flow: row;
}

.desktopMenuMargin {
    width: 15%;
}

.desktopMenuItem {
    width: 14%;

#desktopLogo {
    text-align: center;
    margin-top: 20px;
}
}

#mobileMenu {
    width: 170px;
    background-color: #E8E8E8;
    margin-right: 20px;
    padding-top: 15px;
    min-height: 430px;
}

#mobileMenuTable {
    position: fixed;
    left: 28px;
}

#desktopBody {
    display: flex;
    flex-flow: row;
    height: 100%;
}

#flexBodyContent {
    width: 100%;
}

#bodyContent {
    text-align: center;
    width: 100%;
}

#footer {
    display: flex;
}

/* Video player homepage */
.my-video-container {
    margin: 50px;
    padding: 50px 20px;
}

.my-video-page-container {
    font-size: medium;
}

#videoProjectNames {
    margin: 25px 0;
}

#videoProjectNames > [data-selected="true"] {
    background-color: white;
    padding-top: 5px;
}

.videoProjectName {
    margin: 0 15px;
    cursor: pointer;
}

.videoNames {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 25px 0;
    justify-content: center;
}

.my-video-table-videoname {
    margin: 5px 15px;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    width: 125px;
}

.my-video-table-videoname:hover {
    background-color: azure;
}


.my-video-table-videoname[data-selected="true"] {
    background-color: rgb(120,255,150);
}

.my-vid-popup-iframe {
    background: azure;
    padding: 30px;
}

.my-vid-popup-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.my-vid-popup-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img.center {
    margin: 0 auto;
    display: block;
}

/* NEWS FEED STYLING */

.tumblr_post > div > iframe {
    width: 533px;
    height: 300px;
}

.tumblr_post {
    margin-bottom: 25px;
    list-style-position: inside;
}

/*General classes*/
.noVis {
    visibility: hidden;
}

.noDisp {
    display: none;
}

.inlineBlock {
    display: inline-block;
}

.floatRight {
    float: right;
}

.fixed {
    position: fixed;
}

.separator {
    background-color: black;
    width: 1px;
    margin: 5px 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}